.bodyContainer{
  padding-left: 10rem;
  padding-right: 10rem;
}
.mainContainer{
  display: flex;
  flex-direction: row;
  color: black;
}

@media (min-width: 320px) and (max-width: 767px) {
  #leftPane {
    display: none;
  }
  #rightPane {
    padding-top: 2rem;
  }
}